{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="blog"><!-- start main -->
    <div class="container">
        <div class="main row">
            <div class="col-md-8 blog_left">
                <h2 class="style">最新博文</h2>
                <div class="blog_main">
                {% for blog in blog_list %}
                    <h4><a href="/blog_detail/{{ blog.index }}">{{ blog.title }}</a></h4>
                    <div class="blog_list pull-left">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-calendar-o"></i><span>{{ blog.date }}</span></li>
                            <li><i class="fa fa-eye"></i><span>{{ blog.views }}</span></a></li>
                        </ul>
                    </div>
                    <div class="b_left pull-right">
                        <a href="/blog/?index={{ blog.index }}"><i class="fa fa-heart"></i><span>{{ blog.hearts }}</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <p class="para">{{ blog.summary }}</p>
                {% empty %}
                    <div>这家伙太懒了，没有任何博文发表</div>
                {% endfor %}
                <a href="/blog/?page=dec"><font size="3">上一页</font></a>
                    &nbsp;
                    &nbsp;
                    <a href="/blog/?page=inc"><font size="3">下一页</font></a>
                </div>
            </div>

            <div class="col-md-4 blog_right">
                <ul class="ads_nav list-unstyled">
                    <h4>广告招商</h4>
                    <li><a href="#"><img src="{% static "images/ads_pic.jpg" %}" alt=""> </a></li>
                    <li><a href="#"><img src="{% static "images/ads_pic.jpg" %}" alt=""> </a></li>
                    <li><a href="#"><img src="{% static "images/ads_pic.jpg" %}" alt=""> </a></li>
                    <li><a href="#"><img src="{% static "images/ads_pic.jpg" %}" alt=""> </a></li>
                    <div class="clearfix"></div>
                </ul>
                <ul class="tag_nav list-unstyled">
                    <h4>tags</h4>
                    <li class="active"><a href="#">art</a></li>
                    <li><a href="#">awesome</a></li>
                    <li><a href="#">classic</a></li>
                    <li><a href="#">photo</a></li>
                    <li><a href="#">wordpress</a></li>
                    <li><a href="#">videos</a></li>
                    <li><a href="#">standard</a></li>
                    <li><a href="#">gaming</a></li>
                    <li><a href="#">photo</a></li>
                    <li><a href="#">music</a></li>
                    <li><a href="#">data</a></li>
                    <div class="clearfix"></div>
                </ul>
                <!-- start social_network_likes -->
                <div class="social_network_likes">
                    <ul class="list-unstyled">
                        <li><a href="#" class="tweets"><div class="followers"><p><span>2k</span>Followers</p></div><div class="social_network"><i class="twitter-icon"> </i> </div></a></li>
                        <li><a href="#" class="facebook-followers"><div class="followers"><p><span>5k</span>Followers</p></div><div class="social_network"><i class="facebook-icon"> </i> </div></a></li>
                        <li><a href="#" class="email"><div class="followers"><p><span>7.5k</span>members</p></div><div class="social_network"><i class="email-icon"> </i></div> </a></li>
                        <li><a href="#" class="dribble"><div class="followers"><p><span>10k</span>Followers</p></div><div class="social_network"><i class="dribble-icon"> </i></div></a></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="news_letter">
                    <h4>news letter</h4>
                    <form>
                        <span><input type="text" placeholder="Your email address"></span>
                        <span  class="pull-right fa-btn btn-1 btn-1e"><input type="submit" value="subscribe"></span>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div><!-- end main -->

{% endblock %}
