{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="slider_bg"><!-- start slider -->
    <div class="container">
        <div class="row slider">
            <div class="wmuSlider example1"><!-- start wmuSlider example1 -->
                <div class="wmuSliderWrapper">
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="slider_img text-center">
                            <ul class="list-unstyled list_imgs">
                                <!--<li><img src="{% static "images/slider.jpg" %}" alt="" class="responsive"/></li>-->
                                <li><img src="{% static "images/slider.jpg" %}" alt="" class="responsive"/></li>
                            </ul>
                        </div>
                    </article>
                    <article style="position: relative; width: 100%; opacity: 1;">
                        <div class="slider_img text-center">
                            <ul class="list-unstyled list_imgs">
                                <li><img src="{% static "images/slider1.jpg" %}" alt="" class="responsive"/></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <ul class="wmuSliderPagination">
                    <li><a href="#" class="">0</a></li>
                    <li><a href="#" class="">1</a></li>
                </ul>
                <script src="{% static "js/jquery.wmuSlider.js" %}"></script>
                <script> $('.example1').wmuSlider(); </script>
            </div><!-- end wmuSlider example1 -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}
